body {
    font-family: sans-serif;
    /*background-image: url(https://scontent-frt3-2.cdninstagram.com/t51.2885-15/e35/13181387_1722496231342238_1837202579_n.jpg);*/
    
    
    /*background: #cbcbf1;
    background: -moz-linear-gradient(45deg, #97d4ee 0%,#019DE1 25%,#017CCA 50%,#1f5ad1 75%,#0890c5 100%); 
    background: -webkit-linear-gradient(45deg, #97d4ee 0%,#019DE1 25%,#017CCA 50%,#1f5ad1 75%,#0890c5 100%); 
    background: linear-gradient(45deg, #97d4ee 0%,#019DE1 25%,#017CCA 50%,#1f5ad1 75%,#0890c5 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97d4ee', endColorstr='#0890c5',GradientType=1 );
    overflow: hidden;
    width: 800px;
    height: 100%;
    margin: 0;
}
.top{
  height: 2rem;
}
.mask{
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5));
}
.header {
    height: 10rem;
    text-align: center;
  }
.logoContainer {
    width: 90%;
    height: 80%;
    background: #FFFFFF;
    position: relative;
    margin: 0 auto;
    /*margin-top: 2rem;*/
    display: flex;
}
.logoText{
    font-size: 5.5rem;
    /*font-style: italic;*/
    transform:skew(-10deg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: auto;
}
  .btncstm {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: 0 0;
    cursor: pointer;
    color: #dbdbdb;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    margin: 1rem auto;
    padding: 0 1rem;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  .download, .getWinner {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: 0 0;
    color: #dbdbdb;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 600;
  }
#commentsCounter{
  color: #dbdbdb;
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 600;
}
._2g7d5, notranslate {
  color: #a09c9c;
  font: inherit;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  margin-right: .3em;
}
#singleWinner {
  font-size: 18px;
  overflow: hidden;
  padding-bottom: 6px;
  position: relative;
  word-wrap: break-word;
  margin-top: -5px;
  padding-top: 5px;
}